# Initial Visualisation of Game of Thrones Datasets

In [1]:
#import statements
print("Importing Libraries...")
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
print("Importing Completed")

Importing Libraries...
Importing Completed

Reading data and storing it

In [2]:
battles = pd.read_csv('battles.csv')
deaths = pd.read_csv('character-deaths.csv')
print("Data ready in battles and deaths")

Data ready in battles and deaths

## Working with Battles dataset

### Columns names

In [3]:
battles.columns.values

array(['name', 'year', 'battle_number', 'attacker_king', 'defender_king',
       'attacker_1', 'attacker_2', 'attacker_3', 'attacker_4',
       'defender_1', 'defender_2', 'defender_3', 'defender_4',
       'attacker_outcome', 'battle_type', 'major_death', 'major_capture',
       'attacker_size', 'defender_size', 'attacker_commander',
       'defender_commander', 'summer', 'location', 'region', 'note'], dtype=object)

### Previewing data

In [4]:
battles.head()

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

### Column Details

In [5]:
battles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 25 columns):
name                  38 non-null object
year                  38 non-null int64
battle_number         38 non-null int64
attacker_king         36 non-null object
defender_king         35 non-null object
attacker_1            38 non-null object
attacker_2            10 non-null object
attacker_3            3 non-null object
attacker_4            2 non-null object
defender_1            37 non-null object
defender_2            2 non-null object
defender_3            0 non-null float64
defender_4            0 non-null float64
attacker_outcome      37 non-null object
battle_type           37 non-null object
major_death           37 non-null float64
major_capture         37 non-null float64
attacker_size         24 non-null float64
defender_size         19 non-null float64
attacker_commander    37 non-null object
defender_commander    28 non-null object
summer                37 non-null float64
location              37 non-null object
region                38 non-null object
note                  5 non-null object
dtypes: float64(7), int64(2), object(16)
memory usage: 7.5+ KB

### Numerical data statistics

In [7]:
battles.describe()

,year,battle_number,defender_3,defender_4,major_death,major_capture,attacker_size,defender_size,summer
count,38.000000,38.000000,0.0,0.0,37.000000,37.000000,24.000000,19.000000,37.000000
mean,299.105263,19.500000,NaN,NaN,0.351351,0.297297,9942.541667,6428.157895,0.702703
std,0.689280,11.113055,NaN,NaN,0.483978,0.463373,20283.092065,6225.182106,0.463373
min,298.000000,1.000000,NaN,NaN,0.000000,0.000000,20.000000,100.000000,0.000000
25%,299.000000,10.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,299.000000,19.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,300.000000,28.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,300.000000,38.000000,NaN,NaN,1.000000,1.000000,100000.000000,20000.000000,1.000000

In [8]:
battles.describe(include = ["O"])

,name,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,defender_2,attacker_outcome,battle_type,attacker_commander,defender_commander,location,region,note
count,38,36,35,38,10,3,2,37,2,37,37,37,28,37,38,5
unique,38,4,6,11,7,2,1,12,2,2,4,31,28,27,7,5
top,Battle of the Green Fork,Joffrey/Tommen Baratheon,Robb Stark,Stark,Tully,Mormont,Glover,Lannister,Baratheon,win,pitched battle,Gregor Clegane,Rolph Spicer,Riverrun,The Riverlands,It isn't mentioned how many Stark men are left...
freq,1,14,14,8,3,2,2,9,1,32,14,4,1,3,17,1

Note: The features 'attacker_size', 'defender_size' ,'major_death' and 'major_capture', seem useful. There could be interesting correlations between these features, the primary defender and attacker. Features like 'summer','battle_number' and 'name' serve virtually no purpose and are completely useless with the exception of distinguishing them individually. Therefore we can drop them. Lets drop 'battle_number' and 'summer' for now.

In [14]:
battles = battles.drop(['battle_number', 'summer'], axis = 1)
battles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 23 columns):
name                  38 non-null object
year                  38 non-null int64
attacker_king         36 non-null object
defender_king         35 non-null object
attacker_1            38 non-null object
attacker_2            10 non-null object
attacker_3            3 non-null object
attacker_4            2 non-null object
defender_1            37 non-null object
defender_2            2 non-null object
defender_3            0 non-null float64
defender_4            0 non-null float64
attacker_outcome      38 non-null int64
battle_type           37 non-null object
major_death           37 non-null float64
major_capture         37 non-null float64
attacker_size         24 non-null float64
defender_size         19 non-null float64
attacker_commander    37 non-null object
defender_commander    28 non-null object
location              37 non-null object
region                38 non-null object
note                  5 non-null object
dtypes: float64(6), int64(2), object(15)
memory usage: 6.9+ KB

Lets replace 'win' with 1 and 'loss' with 0 for 'attacker_outcome' column.
Before we can do that we'll have to complete the column entries because one entry is blank(37 non-null entries in a dataset of 38 entries), Let's replace that with 'In progress' i.e. NaN gets replaced by 'In progress'

In [9]:
battles['attacker_outcome'] = battles['attacker_outcome'].replace(np.nan , 'In progress', regex = True).map( {'win': 1, 'loss': 0, 'In progress': -1} ).astype(int)

Lets check if our complete and replace operation worked

In [10]:
battles.describe()

,year,battle_number,defender_3,defender_4,attacker_outcome,major_death,major_capture,attacker_size,defender_size,summer
count,38.000000,38.000000,0.0,0.0,38.000000,37.000000,37.000000,24.000000,19.000000,37.000000
mean,299.105263,19.500000,NaN,NaN,0.815789,0.351351,0.297297,9942.541667,6428.157895,0.702703
std,0.689280,11.113055,NaN,NaN,0.456500,0.483978,0.463373,20283.092065,6225.182106,0.463373
min,298.000000,1.000000,NaN,NaN,-1.000000,0.000000,0.000000,20.000000,100.000000,0.000000
25%,299.000000,10.250000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
50%,299.000000,19.500000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
75%,300.000000,28.750000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
max,300.000000,38.000000,NaN,NaN,1.000000,1.000000,1.000000,100000.000000,20000.000000,1.000000

Let's see how the different houses have faired in battle

In [11]:
battles[['attacker_1', 'attacker_outcome']].groupby(['attacker_1'], as_index=False).mean()

                     attacker_1  attacker_outcome
0                     Baratheon             0.500
1                        Bolton             1.000
2                       Bracken             1.000
3              Brave Companions             1.000
4   Brotherhood without Banners             1.000
5                         Darry             1.000
6                     Free folk             0.000
7                          Frey             1.000
8                       Greyjoy             1.000
9                     Lannister             0.875
10                        Stark             0.750

In [12]:
battles[['defender_1', 'attacker_outcome']].groupby(['defender_1'], as_index=False).mean()

          defender_1  attacker_outcome
0          Baratheon          1.000000
1          Blackwood          1.000000
2             Bolton         -1.000000
3   Brave Companions          1.000000
4              Darry          1.000000
5            Greyjoy          1.000000
6          Lannister          0.666667
7          Mallister          1.000000
8      Night's Watch          0.000000
9              Stark          1.000000
10             Tully          0.750000
11            Tyrell          1.000000

These steps didn't really tell us much, considering that some of the houses have only fought in one battle. Plus, it might be beneficial to combine attacker_outcome and the status of a house as the defender or attacker and maybe make a new table that would give us a more accurate estimate of the house's military power.